@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Items.Count() items in the list</p>
    <div class="card-deck row">
        @foreach (var item in Model.Items)
        {
            <div class="col-sm-3">
                <div class="card my-3 ">
                    <div class="card-body">
                        <h5 class="card-title">@item.Description</h5>
                        <p class="card-text">@item.CreatedTime.ToString(CultureInfo.CurrentCulture)</p>
                        <p class="card-text">@item.Priority</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-info" asp-page="./detail" asp-route-ID="@item.Id">
                            Rediger
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a class="btn btn-danger" asp-page-handler="Delete" asp-page="./" asp-route-ID="@item.Id">
                            Slet
                            <i class="fas fa-circle-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>